@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
    background-color: pink;
    font-family: 'Roboto', sans-serif;
}

.top_bar {
    color: white;
    width: 50px;
    height: 50px;
}